@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #181726;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; 

}

h1 {
    color: aliceblue;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

.Window {
    background-color: #2d2c4d;
    padding: 50px;
    margin: auto;
    width: 350px;
    height: 350px;
    border-radius: 50px;
    position: absolute;
    right: 40%;
    top: 25%;

}

.ProfileBorder {
    margin: auto;
    border-style: dotted;
    border-color: aliceblue;
    padding: 25px;
    width: 55%;
    height: 55%;
    border-radius: 100%;

}

.Profile {
    margin: auto;
    border-radius: 100%;
    background: url(/src/assets/e.png);
    background-position: 3420px 470px;
    padding: 40px;
    width: 58%;
    height: 55%;

}

.profileName {
    text-align: center;
}

/* FOOTER DESIGN */

.footer {
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 40px;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color: aliceblue;
}
  